# You can have multiple cards: They need to be in separate sections,
# since you may want to put the images coming from them into different
# directories.  Each section must be named "card FOO", where "FOO" can
# be pretty much anything you like.  If you want to treat them all the
# same, the Folder setting can be moved to the 'main' section instead.

# After setting the card up on Windows using the Eye-Fi software, find
# the config file called
# C:\Documents and Settings\<User>\Application Data\Eye-Fi\Settings.xml
# and open it.  In this file there is a number of <Card> elements, and
# in each of those blocks (if you have multiple cards) you will find
# the MacAddress and UploadKey elements which should be copied over to
# the card settings below.

[card dads eyefi]
# MAC Address separated by : or - or nothing, found as explained above:
MacAddress=00-00-00-00-00-00
# Upload key for this key, found as explained above:
UploadKey=00000000000000000000000000000000
# Where to put things?
Folder=/data/photos/Eye-Fi

[main]
# Debug level from the script.  Valid values: off, warn, info, debug, trace
LogLevel=trace
# Log file: A path name, or blank for STDOUT. (If you want no log at
# all, use LogLevel=off)
LogFile=
# Network plumbing stuff: These should not need changing
Port=59278
SocketTimeout=600
