# You can have multiple cards: They need to be in separate sections,
# since you may want to put the images coming from them into different
# directories.  Each section must be named "card FOO", where "FOO" can
# be pretty much anything you like.  If you want to treat them all the
# same, the Folder and SubFolder settings can be moved to the 'main'
# section instead.

# After setting the card up on Windows using the Eye-Fi software, find
# the config file called
# C:\Documents and Settings\<User>\Application Data\Eye-Fi\Settings.xml
# and open it.  In this file there is a number of <Card> elements, and
# in each of those blocks (if you have multiple cards) you will find
# the MacAddress and UploadKey elements which should be copied over to
# the card settings below.

# For help on the SubFolder format string, see:
#
# http://www.kernel.org/doc/man-pages/online/pages/man3/strftime.3.html
#
# For testing the format string, you can run this on the command line:
#
# $ perl -MPOSIX -e 'print strftime("%Y-%m-%d", localtime()), "\n"'
#
# Where you replace %Y-%m-%d with the format string you want; if the
# result prints out the subdirectory name you want, you're good.


[card moms eyefi]
# MAC Address separated by : or - or nothing, found as explained above:
MacAddress=00-00-00-00-00-00
# Upload key for this key, found as explained above:
UploadKey=00000000000000000000000000000000
# Where to put things?
Folder=/data/moms-photos/Eye-Fi
# Want to save images to subfolders per date, under Folder?  Enter the
# sub-folder name here as a POSIX::strftime() format string.  If you
# don't want to use sub folders, leave the setting blank.
SubFolder=%Yw%V


[card dads eyefi]
MacAddress=11-11-11-11-11-11
UploadKey=11111111111111111111111111111111
Folder=/data/dads-photos/Eye-Fi
SubFolder=%Yw%V
# If you have a camera that produces different file types, you can add
# "from CARD filetype BAR" sections, overriding Folder and/or
# SubFolder for filetype BAR from the given card.
#
# The file ending BAR is compared to the file ending of each file, not
# including the dot, case insensitive, and with any whitespace
# stripped.
#
# Using these are optional: Any file types not specified will use the
# card settings, or - if that is empty - the [main] settings.
#
# See also the comments about the top-level FILETYPE section below.
#
[from dads eyefi filetype nef]
SubFolder=%Yw%V/RAW

# File type specific destinations can be specified on the top level as
# well, by adding sections called "filetype ZOO".  The effect of such
# a global setting is the same as specifying the same setting under
# each card which doesn't have one already.
#
# The setting below will send .MOV files from both cards specified to
# the given folder, but a similar setting for "filetype nef" would
# only take effect for Moms card: It would not override Dads setting.
#
# When looking for the Folder and SubFolder settings for a file called
# "foo.jpg" coming from the card "dads card", we will search through
# these sections in this order:
#
# 1. [from dads card filetype jpg]
# 2. [filetype jpg]
# 3. [card dads card]
# 4. [main]
#
# The search is over once we find the key we are looking for; an empty
# value (e.g. "SubFolder=") is a valid match.
#
# Note that this search is done SEPARATELY for Folder and SubFolder,
# so the values we end up using for each of them may come from
# completely different sections.  This allows you to do stuff like
# setting the main Folder once, in [main], and then you only need to
# set SubFolders per card and file type.  (Example: .NEF files from
# "dads eyefi" in this config will use SubFolder from the "[from dads
# eyefi filetype nef]" section and Folder from the card section.)
#
# Note: Every card must have a Folder setting pointing to a valid,
# writeable directory either in its own card section or in the [main]
# section.  This directory must be on the same file system as all the
# final per-filetype destination directories possible for that
# card. This is because the card-level Folder is used for temporary
# storage while receiving and unpacking the filess.
[filetype mov]
Folder=/data/videos
SubFolder=


[main]
# Debug level from the script.  Valid values: off, warn, info, debug, trace
LogLevel=trace
# Log file: A path name, or blank for STDOUT. (If you want no log at
# all, use LogLevel=off)
LogFile=
# When using subfolders, do you want the date used for making the
# subfolder name to come from the photo timestamp, or from the
# computer clock at the time of transfer?  Set to "exif" to use photo
# time, "local" to use computer time.
# NOTE: Currently, only "local" is supported.
SubFolderTimeSource=local
# Network plumbing stuff: These should not need changing
Port=59278
SocketTimeout=600
